<user-item chosen="$ctrl.chosen"></user-item>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Personal Information</h2>
                    <p class="card-text">NAME: {{$ctrl.chosen.name}}<br>USERNAME: {{$ctrl.chosen.username}}<br>EMAIL: {{$ctrl.chosen.email}}<br>PHONE: {{$ctrl.chosen.phone}}<br>WEBSITE: {{$ctrl.chosen.website}}</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary"></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Address Information</h2>
                    <p class="card-text">STREET: {{$ctrl.chosen.address.street}}<br>SUITE: {{$ctrl.chosen.address.suite}}<br>CITY: {{$ctrl.chosen.address.city}}<br>ZIPCODE: {{$ctrl.chosen.address.zipcode}}<br>LATITUDE: {{$ctrl.chosen.address.geo.lat}}<br>LONGITUDE: {{$ctrl.chosen.address.geo.lng}}</p>            </div>
            <div class="card-footer">
                <a class="btn btn-primary"></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Company Information</h2>
                    <p class="card-text">NAME: {{$ctrl.chosen.company.name}}<br>CATCHPHRASE: {{$ctrl.chosen.company.catchPhrase}}<br>BS: {{$ctrl.chosen.company.bs}}</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary"></a>
            </div>
        </div>
    </div>
</div>
